@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

fonts{
    font-family: 'Lobster', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Gochi Hand', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}



body{
    font-family: 'Quicksand', sans-serif;
}


header{
    width: 100%;
    padding: 25px 10px;
    border-bottom: 3px solid #12bb96;
    background-color: #222222;
    /* display: flex;
    justify-content: center; */
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lobster', cursive;
}

#logo img{
    width: 80px;
    height: 80px;
}

.product-container{
    display: flex;
    justify-content: space space-around;
    align-items: center;
}

.product-info{
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
}

.product-img{
    width: 500px;
}

.product-price{
    font-size: 3em;
}

ul li{
    list-style: none;
    margin-bottom: 15px;
}

.add{
    width: 500px;
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 15px;
    border: none;
    background-color: #12bb96;
    color: white;
}

footer{
    background-color: rgb(228, 228, 228);
    padding: 10px 5px;
}

#footer-centre{
    text-align: center;
    font-size: 1.5em;
    width: 400px;
    margin: 0 auto;
}

.link-items{
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

#link-container{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#footer-rights{
    text-align: center;
}

#footer-p, .central-title{
    font-family: 'Lobster', cursive;
}